<h2>Listed spaces: <br>
<% @spaces.each do |space| %>
  <ul id=<%= space.name %>>
    <li>space name :<%= space.name%></li>
    <li>space description :<%= space.description %></li>
    <li>space price/night :£<%= space.price %></li>
    <li>Available from: <%= space.start_date + " to " + space.end_date %></li> 
  </ul>
<% end %>
