<h2>Listed spaces: <br>

<%= partial :space_search %>

<% @spaces.each do |space| %>
  <ul id=<%= space.name %>>
    <li>space name :<%= space.name%></li>
    <li>space description :<%= space.description %></li>
    <li>space price/night :£<%= space.price %></li>
    <li>Available from: <%= space.start_date.to_date.to_s + " to " + space.end_date.to_date.to_s %></li>
  </ul>
  <form action='/spaces/detail' method="post">
    <input type="hidden" name="space_id" value=<%= space.id %>>
    <input type="submit" value="Space details">
  </form>
<% end %>
