<h2>Listed spaces: <br>

<form action="/spaces/filtered" method="post">
  <label for="avaiable_from">
    Available From:
    <input type="date" name="available_from" />
  </label>
  <label for="available_to">
    Available To:
    <input type="date" name="available_to" />
  </label>
  <input type="submit" value="Filter" />
</form>

<% @spaces.each do |space| %>
  <ul id=<%= space.name %>>
    <li>space name :<%= space.name%></li>
    <li>space description :<%= space.description %></li>
    <li>space price/night :£<%= space.price %></li>
    <li>Available from: <%= space.start_date.to_date.to_s + " to " + space.end_date.to_date.to_s %></li>
  </ul>
<% end %>
