Name: <%= current_user.name %>
Email: <%= current_user.email %>


<% @spaces.each do |space| %>
  <ul id=<%= space.name %>>
    <li>space name :<%= space.name%></li>
    <li>space description :<%= space.description %></li>
    <li>space price/night :£<%= space.price %></li>
    <li>Available from: <%= space.start_date.to_date.to_s + " to " + space.end_date.to_date.to_s %></li>
  </ul>
<% end %>
